<!DOCTYPE html>
<html lang="en">
  <%- include('src/head.ejs', { title: 'Jacob Mai Peng' }) %>
  <body>
    <div id="root">
      <%- include('src/header.ejs') %>
      <main>
        <section>
          <div class="intro">
            <div id="me" class="shadow">
              <img src="images/me.jpg" alt="" />
            </div>
            <div>
              <p>
                Hi! I'm Jacob, an M. Sc. student in compilers for machine learning at
                <a href="https://cs.mcgill.ca/" target="_blank">McGill University</a>. I'm expecting
                to graduate in May 2023 and <strong>I'm seeking full time opportunities</strong>.
              </p>
              <br />
              <p>
                I am a member of the Compilers and Accelerator Synthesis Lab under the supervision
                of Professor
                <a href="https://cdubach.bitbucket.io" target="_blank">Christophe Dubach</a>. My
                research interests broadly include program transformations, static analysis, and
                automatic differentiation, and I've been using
                <a href="https://mlir.llvm.org/" target="_blank">MLIR</a> to do all of those things.
              </p>
              <br />
              <p>
                In addition to my research, I'm a lifelong <a href="/music">musician</a>. You can
                also find me rock climbing, weightlifting, cooking, or doing yoga.
              </p>
            </div>
          </div>
        </section>
        <br />
        <section>
          <h2>Publications</h2>
          <div class="card">
            <h5>
              <a href="https://doi.org/10.1145/3578360.3580259" target="_blank"
                >LAGrad: Statically Optimized Differentiable Programming in MLIR</a
              >
            </h5>
            <p class="subtitle">Mai Jacob Peng &amp; Christophe Dubach</p>
            <p>
              <em>ACM SIGPLAN International Conference on Compiler Construction (CC &apos;23)</em>
            </p>
            <div class="bubble-group">
              <a class="bubble" href="/static/lagrad-paper-preprint.0528666b.pdf" target="_blank"
                >preprint</a
              >
              <a
                class="bubble"
                href="https://doi.org/10.6084/m9.figshare.21964787.v1"
                target="_blank"
                >artifact</a
              >
            </div>
          </div>
        </section>
        <br />
        <section class="projects">
          <h2>Projects</h2>
          <div class="card">
            <h5>
              <a href="https://github.com/EnzymeAD/Enzyme-MLIR-Reverse" target="_blank">
                <div class="project-icon"><img src="images/enzyme_logo.svg" /></div>
                Enzyme</a
              >
            </h5>
            <p>
              I&apos;m working on making the first <em>hackable</em> AutoDiff engine by extending
              Enzyme to MLIR. Our goal is to make it ergonomic for non-AD experts to extend the core
              AD engine to differentiate arbitrary dialects.
            </p>
            <div class="bubble-group">
              <span class="tag">#MLIR</span>
              <span class="tag">#LLVM</span>
              <span class="tag">#C++</span>
            </div>
          </div>
          <div class="card">
            <h5>
              <a href="https://helpmehelp.me" target="_blank">
                <div class="project-icon helpmeicon">
                  <img src="images/helpmehelpme.png" />
                </div>
                HelpMeHelp.Me</a
              >
            </h5>
            <p>
              I led a team of students and alumni volunteers to build an accessible, online database
              of mental health resources in the Greater Toronto Area.
            </p>
            <p>
              As part of this,
              <a href="https://github.com/pengmai/javascript-notes/wiki" target="_blank"
                >I wrote a beginner's guide to JavaScript</a
              >
              to quickly ramp-up student developers without prior web development experience.
            </p>
            <div class="bubble-group">
              <span class="tag">#React</span>
              <span class="tag">#TypeScript</span>
              <span class="tag">#Express</span>
              <span class="tag">#PostgreSQL</span>
            </div>
          </div>
        </section>
        <br />
        <section>
          <h2>Presentations</h2>
          <div class="card">
            <h5>
              <a
                href="https://pretalx.enzyme.csail.mit.edu/enzymecon-2023/talk/KCZKS8/"
                target="_blank"
                >Hackable Autodiff: Extending Enzyme to MLIR for Reverse Mode Gradients</a
              >
            </h5>
            <div class="space-between subtitle">
              <p>February 23rd, 2023</p>
              <p><em>Co-presented with Martin Eppert</em></p>
            </div>
            <p>
              <em>Enzyme Conference, Boulder, Colorado</em>
            </p>
            <div class="bubble-group">
              <a class="bubble" href="/static/hackable_autodiff_v1.1.pdf" target="_blank">slides</a>
            </div>
          </div>
          <div class="card">
            <h5>
              <a href="https://cdp-workshop.github.io/CDP/program/" target="_blank"
                >LAGrad: Leveraging the MLIR Ecosystem for Efficient Differentiable Programming</a
              >
            </h5>
            <p class="subtitle">November 15th, 2022</p>
            <p>
              <em>19th Workshop on Compiler-Driven Performance, Toronto, Ontario</em>
            </p>
          </div>
          <div class="card">
            <h5>
              <a href=""
                >LAGrad: Leveraging the MLIR Ecosystem for Efficient Differentiable Programming</a
              >
            </h5>
            <p class="subtitle">November 8th, 2022</p>
            <p>
              <em>US LLVM Developers' Meeting, San Jose, California</em>
            </p>
            <div class="bubble-group">
              <a
                class="bubble"
                href="https://llvm.org/devmtg/2022-11/slides/StudentTalk4-LAGradLeveragingMLIRForEfficientDifferentiableProgramming.pdf"
                target="_blank"
                >slides</a
              >
              <a class="bubble" href="https://youtu.be/HPv8VUWGAvw" target="_blank">recording</a>
            </div>
          </div>
        </section>
      </main>
      <br />
      <%- include("src/footer.ejs") %>
    </div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
