<!DOCTYPE html>
<html lang="en">
  <%- include('src/head.ejs', { title: 'Code - Jacob Mai Peng' }) %>
  <body>
    <div id="root">
      <%- include('src/header.ejs') %>
      <main>
        <section>
          <h2>Projects</h2>
          Enzyme
          HelpMeHelp.Me (and JavaScript notes)
          <a href="/code/sudokusolver">Sudoku Solver</a>
        </section>
      </main>
      <br />
      <%- include("src/footer.ejs") %>
    </div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
