.tagline-upper {
    line-height: 0.1;
}

.tagline-lower {
    font-size: 1.2rem;
    font-style: italic;
}

.page-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
}

.nav, .navbar, .navbar-toggle {
    background-color: #FFF;
    border: none;
}

.nav, .navbar-collapse {
    border: none;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.social-icon {
    height: 30px;
    width: 30px;
    color: black;
}
