<header>
  <a href="/" class="title"><h2>Jacob Mai Peng</h2></a>
  <div class="icon-group">
    <a class="social-icon" href="#" target="_blank">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 26 26"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M13 26C20.1797 26 26 20.1797 26 13C26 5.8203 20.1797 0 13 0C5.8203 0 0 5.8203 0 13C0 20.1797 5.8203 26 13 26ZM12.2383 8.55176C11.5938 8.23438 10.8149 8.07568 9.90186 8.07568C8.19287 8.07568 6.88916 8.53223 5.99072 9.44531C5.10205 10.3535 4.65771 11.5962 4.65771 13.1733C4.65771 14.6626 5.06299 15.8589 5.87354 16.7622C6.71826 17.7095 7.88525 18.1831 9.37451 18.1831C10.6392 18.1831 11.645 17.873 12.3921 17.2529V15.2021L12.3701 15.1875C12.2236 15.3975 12.0454 15.5732 11.8354 15.7148C11.2593 16.1104 10.5073 16.3081 9.57959 16.3081C8.75928 16.3081 8.1001 16.0737 7.60205 15.605C7.00146 15.0435 6.70117 14.189 6.70117 13.0415C6.70117 12.0552 6.93799 11.2959 7.41162 10.7637C7.65576 10.4902 7.96826 10.2803 8.34912 10.1338C8.72998 9.98242 9.11816 9.90674 9.51367 9.90674C9.90918 9.90674 10.2363 9.92871 10.4951 9.97266C11.374 10.1094 11.9502 10.3877 12.2236 10.8076L12.2383 10.793V8.55176ZM17.6362 18C17.9927 18 18.249 18.0098 18.4053 18.0293L18.4199 18.0073C18.4004 17.9683 18.3906 17.8779 18.3906 17.7363C18.3906 17.5898 18.4614 17.2725 18.603 16.7842L18.8594 15.9272L21.5327 8.2002C21.4351 8.23926 21.0933 8.25879 20.5073 8.25879C20.0776 8.25879 19.7163 8.24902 19.4233 8.22949L17.4897 14.8579L15.2852 8.2002C15.1533 8.23926 14.853 8.25879 14.3843 8.25879C13.9155 8.25879 13.5298 8.24902 13.2271 8.22949L15.9517 15.9492L16.2593 16.9307C16.3325 17.1699 16.3862 17.353 16.4204 17.48C16.4546 17.6069 16.4741 17.6948 16.479 17.7437C16.4888 17.7925 16.4937 17.8389 16.4937 17.8828C16.4937 17.9268 16.4839 17.9658 16.4644 18L16.4717 18.0146C16.5791 18.0049 16.6987 18 16.8306 18H17.6362Z"
          fill="currentColor"
        />
      </svg>
      <br />
      cv
    </a>
    <a class="social-icon" href="/music">
      <svg
        stroke="currentColor"
        fill="currentColor"
        stroke-width="0"
        viewBox="0 0 512 512"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M470.38 1.51L150.41 96A32 32 0 0 0 128 126.51v261.41A139 139 0 0 0 96 384c-53 0-96 28.66-96 64s43 64 96 64 96-28.66 96-64V214.32l256-75v184.61a138.4 138.4 0 0 0-32-3.93c-53 0-96 28.66-96 64s43 64 96 64 96-28.65 96-64V32a32 32 0 0 0-41.62-30.49z"
        ></path>
      </svg>
      <br />
      music
    </a>
    <a class="social-icon" href="/code">
      <svg
        stroke="currentColor"
        fill="currentColor"
        stroke-width="0"
        viewBox="0 0 640 512"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z"
        ></path>
      </svg>
      <br />
      code
    </a>
    <a
      class="social-icon"
      href="https://www.linkedin.com/in/jacob-peng-37436112a/"
      target="_blank"
    >
      <svg
        stroke="currentColor"
        fill="currentColor"
        stroke-width="0"
        viewBox="0 0 448 512"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
        ></path>
      </svg>
      <br />
      linkedin
    </a>
    <!-- Github -->
    <a class="social-icon" href="https://github.com/pengmai" target="_blank">
      <svg
        stroke="currentColor"
        fill="currentColor"
        stroke-width="0"
        viewBox="0 0 496 512"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"
        ></path>
      </svg>
      <br />
      github
    </a>
  </div>
  <hr />
</header>
